name: HACS Validation

on:
  push:
    branches:
      - main
    paths:
      - "dist/**"
  workflow_dispatch:
jobs:
  hacs:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: "actions/checkout@v4"
      - name: Validate HACS
        uses: "hacs/action@main"
        with:
          category: "plugin"
